body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

%heading {
  font-family: $font-display;
  font-weight: 400;
  color: $color-primary;
}
.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  line-height: 1;
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  &--light {
    color: $color-primary-light;
  }
  &--dark {
    color: $color-primary-dark;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 2.5rem;
}
.heading-4 {
  @extend %heading;
  font-size: 1.7rem;

  &--light {
    color: $color-grey-light;
  }
  &--dark {
    color: $color-grey-dark;
  }
}
