// COLORS
$color-primary: #340068;
$color-primary-light: #5704aa;
$color-primary-dark: #220142;

$color-secondary: #6d435a;
$color-secondary-light: #a56789;
$color-secondary-dark: #492e3d;

$color-tertiary: #ff6978;
$color-tertiary-light: #fc8692;
$color-tertiary-dark: #e05d6a;

$color-forth: #b1ede8;
$color-forth-light: #cef7f3;
$color-forth-dark: #95cec9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #6a666e;
$color-grey-light: #b7b6b9;
$color-grey-dark: rgb(28, 28, 29);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$font-primary: 'Lato', sans-serif;
$font-display: 'Lato', sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
