.acount-container {
  background-image: linear-gradient(
      rgba($color-secondary, 0.6),
      rgba($color-secondary, 0.6)
    ),
    url(../img/user.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
