// .artists {
//   background-color: $color_tertiary;
//   grid-column: col-start 7 / full-end;
//   background-image: linear-gradient(
//       to right,
//       rgba($color_tertiary, 0.8),
//       rgba($color_tertiary, 0.03)
//     ),
//     url(../../img/chairs.jpg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding: 3rem;
//   display: grid;
//   justify-items: center;
//   align-items: center;
//   grid-row-gap: 2rem;
//   justify-items: center;
//   overflow: hidden;
//   &__list {
//     display: grid;
//     grid-column-gap: 2rem;
//     grid-row-gap: 1vh;
//   }
//   &__img {
//     width: 9rem;
//     height: 11rem;
//     object-fit: cover;
//     border-radius: 50%;
//     display: block;
//     box-shadow: 2px 3px 4px rgba($color: #000000, $alpha: 0.8);
//     transition: all 0.3s;
//   }
//   &__img:hover {
//     transform: scale(1.3);
//     border-radius: 30%;
//   }
// }

.artists {
  background-color: $color_tertiary;
  grid-column: col-start 7 / full-end;
  background-image: linear-gradient(
      to right,
      rgba($color_tertiary, 0.8),
      rgba($color_tertiary, 0.03)
    ),
    url(../../img/chairs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row-gap: 2rem;
  justify-items: center;
  overflow: hidden;
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
  }
  &__img {
    width: 8rem;
    border-radius: 50%;
    display: block;
    box-shadow: 2px 3px 4px rgba($color: #000000, $alpha: 0.8);
    transition: all 0.3s;
  }
  &__img:hover {
    transform: scale(1.3);
    border-radius: 30%;
  }
  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
