// .form-control {
//   margin: 1rem 0;

//   & label,
//   & input,
//   & textarea {
//     display: block;
//   }

//   & label {
//     font-weight: bold;
//     margin-bottom: 0.5rem;
//   }

//   & input,
//   & textarea {
//     width: 100%;
//     font: inherit;
//     border: 1px solid $color-grey-light;
//     background: $color-grey-light;
//     padding: 0.15rem 0.25rem;
//   }

//   & input:focus,
//   & textarea:focus {
//     outline: none;
//     background: $color-grey-light;
//     border-color: $color-primary;
//   }

//   &--invalid label,
//   &--invalid p {
//     color: $color-secondary;
//   }

//   &--invalid input,
//   &--invalid textarea {
//     border-color: $color-secondary;
//     background: $color-grey-light;
//   }
// }
